<div class="user-list-container">
  <div class="button-container">
    <button (click)="loadUsers()" [disabled]="isLoading">Load Users</button>
  </div>

  <div *ngIf="isLoading">Loading...</div>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <div class="user-cards-container">
    <ng-container *ngFor="let user of users">
      <p-card *ngIf="!isLoading && users.length > 0" class="user-card">
        <ng-template pTemplate="header">
          <h3>{{ user.name }}</h3>
        </ng-template>
      
        <ng-template pTemplate="content">
          <p><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Phone:</strong> {{ user.phone }}</p>
        </ng-template>
      </p-card>
    </ng-container>
  </div>

<!--   <ul *ngIf="!isLoading && users.length > 0">
    <li *ngFor="let user of users">
      <h3>{{ user.name }}</h3>
      <p>Email: {{ user.email }}</p>
      <p>Phone: {{ user.phone }}</p>
    </li>
  </ul>
   -->

  <div *ngIf="!isLoading && users.length === 0">
    No users found.
  </div>

</div>

<app-add-user-form></app-add-user-form>